version: '3.8'
mongodb:
  image: mongo:latest
  container_name: mongodb
  ports:
    - "27017:27017"
  volumes:
    - mongo_data:/data/db

backend:
  build: 
    context: ./server
  container_name: express-backend
  ports:
    - "5900:5900"
  environment:
    - NODE_ENV=development
    - MONGODB_URI=mongodb://mongodb:27017/your-database-name
  depends_on:
    - mongodb
  volumes:
    - ./server:/app
    - /app/node_modules