version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: 
      context: ./server
    container_name: express-backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - MONGODB_URI=your-actual-mongodb-atlas-connection-string
    volumes:
      - ./server:/app
      - /app/node_modules

volumes:
  mongo_data: